config/
data/*
data_shared/*
!data/mots.txt
public/js/
public/mots/**
!public/mots/index.html
node_modules/
ts/mots/listeMotsATrouver.ts
ts/mots/listeMotsProposables.*
cron.*.sh
docker-compose.override.yml
